body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0;
    background-color: #f4f4f4;
}
#tittle{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
    
        font-family: "Kablammo", system-ui;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "MORF" 0;
      
}
input{
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    width: 50%;
}
#button {
    font-size: 1.5rem;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
  }
  
#button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
.container{
   
    height:500px;
    width:500px;
    background: #252525;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 3px 3px #fafafa;
    display: flex;
    justify-content: start;
    align-items:center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}
ul li{
    color: #fafafa;
   list-style: none;
   padding: 0px 20px;
   border-radius: 10px;
   margin: 5px 0;
   font-family: "Lilita One", sans-serif;
   letter-spacing: 2px;
   font-size: 35px;
   margin-right: 2px;
   
}
/* ============== */
button{
    
       font-family: "Lilita One", sans-serif;
       font-size: 1.5rem;
       color: #fafafa;
       text-transform: uppercase;
       padding: 10px 20px;
       border-radius: 10px;
       border: 2px solid #fafafa;
       background: #252525;
       box-shadow: 3px 3px #fafafa;
       cursor: pointer;
       margin: 35px 0;
     }



